* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  /* height: 100vh; */
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: burlywood;
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input__search {
  width: 70vw;
  height: 3rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
}
.inputs__add-group {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.input-add {
  width: 42%;
  height: 3rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.btn__add-contact, .btn__delete{
  all: unset;
  box-sizing: border-box;

  width: 3rem;
  height: 3rem;

  text-align: center;
  font-size: 2rem;
  border-radius: 50%;

  background-color: rgb(23, 196, 23);
  border: 1px solid rgb(24, 167, 24);
  color: black;
}
.btn__add-contact:hover {
  background-color: rgb(28, 209, 28);
  border: 1px solid rgb(24, 167, 24);
  color: black;
}
.btn__add-contact:active {
  background-color: rgb(23, 185, 23);
  border: 1px solid rgb(24, 167, 24);
  color: black;
}
.contacts-list{
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 255, 255,0.5);

}

.list__item{
    width: 100%;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 3rem;
    font-size: 2rem;
    margin-bottom: 2rem;

    padding: 1rem;


}

.btn__delete{
    background-color: rgb(255, 54, 54);
    border: 1px solid rgb(255, 39, 39);
}
.btn__delete:hover{
    background-color: rgb(255, 39, 39);
    border: 1px solid rgb(253, 22, 22);
}
.btn__delete:active{
    background-color: rgb(253, 22, 22);
    border: 1px solid rgb(255, 15, 15);
}

/* input {
    height: 18px;
}

.block {
    width: calc(100% - 32px);
    margin: 0 auto;
}

.block__add {
    margin-bottom: 15px;
}

.block__search {
    margin-bottom: 15px;
}

.list__item {
    position: relative;
    width: 325px;
    margin-bottom: 15px;
}

.btn__add {
    padding: 5px;
    color: #fff;
    background-color: limegreen;
    border-radius: 5px;
}

.btn__add:hover {
    cursor: pointer;
}

.btn__add:focus {
    outline: none;
}

.btn__delete {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    padding: 5px;
    color: #fff;
    background-color: tomato;
    border-radius: 5px;
}

.btn__delete:hover {
    cursor: pointer;
}

.btn__delete:focus {
    outline: none;
}

.input__name.error,
.input__phone.error {
    border-color: tomato;
}

.input__name.error::placeholder,
.input__phone.error::placeholder {
    color: tomato;
}

.hidden{
    display: none;
} */
